@model ArticleListViewModel

<h1 class="title is-2">Articles</h1>

<partial name="Alerts" />

<table class="table is-fullwidth is-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Created On</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Articles.Any())
        {
            <tr>
                <td colspan="4" class="has-text-centered pt-6">
                    <p><em>No articles found! Why not <a asp-action="NewArticle">write one now</a>?</em></p>
                    <p class="pt-3"><i class="e is-size-2">😢</i></p>
                </td>
            </tr>
        }
        else
        {
            @foreach (var article in Model.Articles.OrderByDescending(a => a.Article.CreatedOn))
            {
                <tr class="@(article.Article.Status == ArticleStatus.Draft ? "is-dark" : "")">
                    <td class="is-line-height-small is-vcentered" title="UID: @(article.Article.Uid)">
                        <span>@article.Article.Title</span><br />
                        <small class="is-size-7 mt-0">
                            @if (article.Article.PublishedOn is not null)
                            {
                                <a href="/@article.Article.Slug" target="_blank">/@article.Article.Slug</a>
                            }
                            else
                            {
                                <a href="/preview/@article.Article.Uid" target="_blank">/preview/@article.Article.Uid</a>
                            }
                        </small>
                    </td>
                    <td class="is-vcentered"><partial name="DateDisplay" model="@(((DateTime?)article.Article.CreatedOn, false))" /></td>
                    <td class="is-vcentered">
                        @switch (article.Article.Status)
                        {
                            case ArticleStatus.Draft:
                                <span class="tag is-warning">Draft</span>
                                break;
                            case ArticleStatus.Published:
                                <span class="tag is-success">Published</span>
                                break;
                        }
                    </td>
                    <td class="is-vcentered">
                        <a asp-action="EditArticle" asp-route-id="@article.Article.Uid" title="Edit Article" class="button is-outline is-small is-warning">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                        <a asp-action="DeleteArticle" asp-route-id="@article.Article.Uid" title="Delete Article" class="button is-outline is-small is-danger">
                            <span class="icon">
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>
                        <a disabled="@((article.Article.PublishedOn is null || article.Article.Status != ArticleStatus.Published ? (bool?)true : null))" asp-action="RedeliverArticle" asp-route-id="@article.Article.Uid" title="Redeliver Article to Followers" class="button is-outline is-small is-primary">
                            <span class="icon">
                                <i class="fas fa-hexagon-nodes-bolt"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>