@model ArticleEditViewModel?

@section head
{
    @if (ViewBag.PreviewArticle is true && Model?.Uid is not null)
    {
        <script type="text/javascript">
            document.addEventListener("readystatechange", e => {
                if (document.readyState !== 'complete') return;
                let w = window.open('/preview/@(Model.Uid)', '_blank');
                try { if (!w) throw 'blocked'; w.focus(); } catch { alert('Popup blocked, allow and try again!'); }
            });
        </script>
    }
}

<div class="block mh100 is-flex is-flex-direction-column is-flex-wrap-nowrap">

    <form method="post" asp-action="SaveArticle" asp-antiforgery="true" asp-route-id="@Model?.Uid" class="is-flex-grow-1 is-flex is-flex-direction-column is-flex-wrap-nowrap">
        <input type="hidden" name="Uid" value="@Model?.Uid" />
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title is-2">@(Model?.Uid is null ? "Write an" : "Edit") Article</h1>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button disabled="@(Model?.WasEverPublished ?? false)" title="@(Model?.WasEverPublished is true ? "Cannot preview a draft once it's been published." : "Saves and previews the draft in a new window.")" class="button is-secondary" asp-action="SaveArticle" asp-route-id="@Model?.Uid" asp-route-isDraft="@true" asp-route-preview="@true">
                        <span class="icon-text">
                            <span class="icon corner-stack">
                                <i class="fas fa-floppy-disk"></i>
                                <i class="fas fa-eye"></i>
                            </span>
                        </span>
                    </button>
                </div>
                <div class="level-item">
                    <button disabled="@(Model?.WasEverPublished ?? false)" title="@(Model?.WasEverPublished is true ? "Cannot save a draft once it's been published." : "Saves the article as a draft.")" class="button is-secondary" asp-action="SaveArticle" asp-route-id="@Model?.Uid" asp-route-isDraft="@true">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-floppy-disk"></i>
                            </span>
                        </span>
                    </button>
                </div>
                <div class="level-item">
                    <button class="button is-primary" title="Publishes the article right now for the whole world to see!" type="submit">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-paper-plane"></i>
                            </span>
                            <span>Publish</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        @if (ViewBag.ValidationError is string err)
        {
            <div class="block">
                <partial name="InlineError" model="@((err, ViewBag.SubError as string))" />
            </div>
        }

        <div class="field">
            <div class="control has-icons-left">
                <input asp-for="Title" class="input is-large" id="title" placeholder="Article Title" />
                <span class="icon is-small is-left">
                    <i class="fas fa-font"></i>
                </span>
            </div>
        </div>

        <p>
            <em>Markdown is supported.</em>
        </p>

        <div class="field is-flex-grow-1 is-flex is-flex-direction-column is-flex-wrap-nowrap">
            <textarea asp-for="Body" id="article" class="textarea is-resize-vertical is-flex-grow-1 is-family-monospace media-paste-target" placeholder="Your next *masterpiece* awaits..."></textarea>
        </div>
        
    </form>

    <div class="level mt-3">
        <div class="level-left">

        </div>
        <div class="level-right">

        </div>
    </div>

    <partial name="Alerts" />
</div>