@using Microsoft.AspNetCore.SignalR.Protocol
@model DashboardViewModel

<h1 class="title is-2">Dashboard</h1>

<section class="section">
    <div class="block">
        <h2 class="subtitle is-4 has-text-centered">Post Stats</h2>
    </div>

    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="title is-1">@Model.FollowerCount</p>
                <p class="heading">follower@(@Model.FollowerCount == 1 ? "" : "s")</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="title is-1">@Model.PostCount</p>
                <p class="heading">article@(@Model.PostCount == 1 ? "" : "s")</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="title is-1">@Model.BoostCount</p>
                <p class="heading">boost@(@Model.BoostCount == 1 ? "" : "s")</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="title is-1">@Model.FavoriteCount</p>
                <p class="heading">favorite@(@Model.FavoriteCount == 1 ? "" : "s")</p>
            </div>
        </div>
    </div>
</section>

<section class="section">

    <div class="block">
        <h2 class="subtitle is-4">Recent Posts</h2>
    </div>

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Post</th>
                <th>Drafted</th>
                <th>Published</th>
                <th>Stats</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.RecentArticles is null || !Model.RecentArticles.Any())
            {
                <tr>
                    <td colspan="4" class="has-text-centered pt-5">
                        <p><em>No articles found! Why not <a asp-action="NewArticle">write one now</a>?</em></p>
                        <p class="pt-3"><i class="e is-size-2">😢</i></p>
                    </td>
                </tr>
            }
            else
            {
                @foreach (var article in Model.RecentArticles)
                {
                    <tr>
                        <td><a href="/@article.Slug" target="_blank">@article.Title</a></td>
                        <td><partial name="DateDisplay" model="@(((DateTime?)article.CreatedOn, false))" /></td>
                        <td><partial name="DateDisplay" model="@((article.PublishedOn, false))" /></td>
                        <td>
                            <div class="field is-grouped is-grouped-multiline">
                                <div class="control">
                                    <span class="tags has-addons has-text-weight-semibold">
                                        <span class="tag is-warning">
                                            <span class="icon">
                                                <i class="fas fa-star"></i>
                                            </span>
                                        </span>
                                        <span class="tag is-dark">27</span>
                                    </span>
                                </div>
                                <div class="control">
                                    <span class="tags has-addons is-info has-text-weight-semibold">
                                        <span class="tag is-info">
                                            <span class="icon">
                                                <i class="fas fa-retweet"></i>
                                            </span>
                                        </span>
                                        <span class="tag is-dark">39</span>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
            </thead>
    </table>
</section>