@model Settings

<h1 class="title is-2">Settings</h1>

@if (ViewBag.SettingsSuccess is true)
{
    <div class="message is-success">
        <div class="message-body p-3">
            <span class="icon-text">
                <span class="icon mr-2">
                    <i class="fas fa-lg fa-check-circle"></i>
                </span>
                <span>Settings updated successfully!</span>
            </span>
        </div>
    </div>
}

<form class="form" method="post" asp-antiforgery="true" enctype="multipart/form-data">

    <h2 class="subtitle is-3">Theme and Styling</h2>

    <div class="field">
        <label class="label" asp-for="ThemeCss">Public Theme CSS</label>
        <div class="control">
            <textarea class="textarea is-family-monospace is-not-wrapped" asp-for="ThemeCss" rows="10"></textarea>
        </div>
        <span class="help">This is the CSS style applied to your public posts. It does not affect the admin area. You can use @@imports and any other valid CSS here.</span>
    </div>

    <div class="field">
        <label class="label" asp-for="HeadContent">&lt;head&gt; Content</label>
        <div class="control">
            <textarea class="textarea is-family-monospace is-not-wrapped" asp-for="HeadContent" rows="5"></textarea>
        </div>
        <span class="help">Enter any HTML here (e.g. CSS links) that you want to include at the bottom of the &lt;head&gt; tag.</span>
    </div>

    <div class="field">
        <label class="label" asp-for="EndBodyContent">&lt;body&gt; Content</label>
        <div class="control">
            <textarea class="textarea is-family-monospace is-not-wrapped" asp-for="EndBodyContent" rows="5"></textarea>
        </div>
        <span class="help">Enter any HTML here (e.g. script tags) that you want to include just before the closing &lt;body&gt; tag.</span>
    </div>

    <h3 class="subtitle is-4">Images</h3>

    <div class="field">
        <label class="label" asp-for="Favicon">Favicon</label>

        <div class="file has-name is-boxed">
            <label class="file-label" asp-for="FaviconInput">
                <input asp-for="FaviconInput" type="file" accept=".png,.ico" class="file-input" />
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">Choose a file to upload...</span>
                </span>
                <span class="file-name mw100">No file selected.</span>
            </label>
        </div>
        @if (Model.Favicon is not null)
        {
            <img src="@Model.Favicon?.ToDataUri()" alt="Favicon for @(GlobalConfiguration.Current?.PublicHostname)" style="width: 32px !important; height: 32px !important;" />
        }
        <span class="help">This is the 16x16 icon that appears in browser tabs.</span>
    </div>

    <div class="field">
        <label class="label" asp-for="AuthorAvatar">Author Avatar</label>

        <div class="file has-name is-boxed">
            <label class="file-label" asp-for="AuthorAvatarInput">
                <input asp-for="AuthorAvatarInput" type="file" accept=".png,.jpg,.jpeg" class="file-input" />
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">Choose a file to upload...</span>
                </span>
                <span class="file-name mw100">No file selected.</span>
            </label>
        </div>
        @if (Model.AuthorAvatar is not null)
        {
            <img src="/avatar.png" alt="Avatar for @(GlobalConfiguration.Current?.FediverseUsername)" style="width: 96px !important; height: 96px !important;" />
        }
        <span class="help">This is your Fediverse and site avatar image. Must be square. 120x120 recommended.</span>
    </div>

    <div class="field">
        <label class="label" asp-for="BannerImage">Banner Image</label>

        <div class="file has-name is-boxed">
            <label class="file-label" asp-for="BannerImageInput">
                <input asp-for="BannerImageInput" type="file" accept=".png,.jpg,.jpeg" class="file-input" />
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">Choose a file to upload...</span>
                </span>
                <span class="file-name mw100">No file selected.</span>
            </label>
        </div>
        @if (Model.BannerImage is not null)
        {
            <img src="/banner.png" alt="Banner for @(GlobalConfiguration.Current?.FediverseUsername)" style="width: 200px !important; height: 100px !important;" />
        }
        <span class="help">This is your Fediverse and site banner. Appears in link previews and Fediverse profiles. Must be 2:1 aspect. 2000x1000 recommended.</span>
    </div>

    <hr />

    <h2 class="subtitle is-3">Social</h2>

    <div class="field">
        <label class="label" asp-for="ClaimProfileUrl">Verified Site (rel=me) URL</label>
        <div class="control">
            <input class="input" asp-for="ClaimProfileUrl"
                placeholder="https://fediverse.social.example/@@yourUsername" />
        </div>
        <span class="help">This is the URL to your profile on another fediverse server that supports site
            verification.</span>
    </div>

    <div class="field">
        <label class="label" asp-for="AuthorAttribTag">Author Attribution Tag</label>
        <div class="control">
            <input class="input" asp-for="AuthorAttribTag"
                placeholder="@@yourUsername@@fediverse.social.example" />
        </div>
        <span class="help">Your full Fediverse handle (beginning with @@) to include as fediverse:creator metadata.</span>
    </div>

    <div class="field">
        <label class="label" asp-for="AutoReciprocateFollows">
            <input asp-for="AutoReciprocateFollows" class="checkbox" />
            Automatically reciprocate follows?
        </label>
        <span class="help">If set, you will send a follow request to anyone that follows you first. (There is, at present, no other way to "follow" someone besides this.)</span>
    </div>

    <div class="field">
        <label class="label" asp-for="DisplayFollowerCount">
            <input asp-for="DisplayFollowerCount" class="checkbox" />
            Display follower count?
        </label>
        <span class="help">If set, your follower count will appear in sections of the site with your profile information.</span>
    </div>

    <h3 class="subtitle is-4">Profile Properties</h3>

    <div class="field is-horizontal is-justify-self-flex-start">
        <label class="field-label is-normal" asp-for="Property1Key">Property 1</label>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" asp-for="Property1Key" placeholder="Pronouns" maxlength="100" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" asp-for="Property1Value" placeholder="they/them" maxlength="100" />
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal is-justify-self-flex-start">
        <label class="field-label is-normal" asp-for="Property2Key">Property 2</label>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" asp-for="Property2Key" placeholder="Pronouns" maxlength="100" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" asp-for="Property2Value" placeholder="they/them" maxlength="100" />
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal is-justify-self-flex-start">
        <label class="field-label is-normal" asp-for="Property3Key">Property 3</label>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" asp-for="Property3Key" placeholder="Pronouns" maxlength="100" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" asp-for="Property3Value" placeholder="they/them" maxlength="100" />
                </div>
            </div>
        </div>
    </div>
    <div class="help">Enter any property name and value, like your website, pronouns, or anything else you want!</div>

    <hr />
    
    <h2 class="subtitle is-3">Site Metadata (OData)</h2>

    <div class="field">
        <label class="label" asp-for="ODataTitle">Site Title (og:title)</label>
        <div class="control">
            <input class="input" asp-for="ODataTitle" placeholder="@(GlobalConfiguration.Current?.AuthorDisplayName)"
                maxlength="100" />
        </div>
        <span class="help">If not specified, uses your Author Display Name or Fediverse username.</span>
    </div>

    <div class="field">
        <label class="label" asp-for="ODataDescription">Site Bio / Description (og:description)</label>
        <div class="control">
            <input class="input" asp-for="ODataDescription" placeholder="@(GlobalConfiguration.Current?.FediverseBio)" maxlength="255" />
        </div>
        <span class="help">If not specified, uses your Fediverse bio.</span>
    </div>

    <div class="field">
        <label class="label" asp-for="ShowBioOnSite">
            <input asp-for="ShowBioOnSite" class="checkbox" />
            Show bio on articles?
        </label>
        <span class="help">If unchecked, your bio text will only be sent through the fediverse network, and not displayed on this site.</span>
    </div>
    
    <div class="field">
        <button class="button is-success" type="submit">
            <span class="icon">
                <i class="fas fa-save"></i>
            </span>
            <span>Save Settings</span>
        </button>
    </div>
</form>