@using Microsoft.AspNetCore.Authentication
@{
    var vm = (ArticleListViewModel)Model;
    var title = vm.Articles.Count() == 1
        ? vm.Articles.Single().Article.Title
        : "Articles";
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>@title &ndash; @SettingsService.Current?.ODataTitle</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">

    @if (vm.Articles?.Count() == 1 && vm.Articles.Single() is ArticleViewModel a && Context.Request.Path != "/")
    {
        @* Article-specific meta properties *@
        <meta property="og:title" content="@a.Article.Title" />
        <meta property="og:description" content="@Globals.RgxStripHtml().Replace(a.Article.ArticleSummary ?? "", "")" />
        <meta name="description" content="@Globals.RgxStripHtml().Replace(a.Article.ArticleSummary ?? "", "")" />
        <meta property="og:published_time" content="@(a.Article.PublishedOn?.ToString("s"))Z" />
        <meta property="og:url" content="https://@GlobalConfiguration.Current?.PublicHostname/@vm.Articles.First().Article.Slug" />
    }
    else
    {
        @* Site-wide meta properties *@
        <meta property="og:title" content="@(vm.SiteSettings?.ODataTitle ?? GlobalConfiguration.Current?.FediverseUsername)" />
        <meta property="og:description" content="@(vm.SiteSettings?.ODataDescription ?? GlobalConfiguration.Current?.FediverseBio)" />
        <meta name="description" content="@(vm.SiteSettings?.ODataDescription ?? GlobalConfiguration.Current?.FediverseBio)" />
        <meta property="og:url" content="https://@GlobalConfiguration.Current?.PublicHostname" />

    }
    @if (SettingsService.Current?.BannerImage is not null)
    {
        <meta property="og:image" content="https://@GlobalConfiguration.Current?.PublicHostname/banner.png" />
    }
    else
    {
        <meta property="og:image" content="https://@GlobalConfiguration.Current?.PublicHostname/avatar.png" />
    }
    @if (SettingsService.Current?.AuthorAvatar is not null)
    {
        <meta property="og:logo" content="https://@GlobalConfiguration.Current?.PublicHostname/avatar.png" />
    }
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en" />
    <meta property="profile:username" content="@(GlobalConfiguration.Current?.FediverseUsername)@@@(GlobalConfiguration.Current?.PublicHostname)" />
    <meta name="initialPath" content="/" />

    @if (vm.SiteSettings?.Favicon is not null)
    {
        <link rel="icon" type="@(Utils.IsIco(vm.SiteSettings.Favicon) ? "image/x-icon" : "image/png")" href="/favicon.ico" />
    }

    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style type="text/css">
        @Html.Raw(vm.ThemeCss)
    </style>

    @RenderSection("head", false)
</head>
<body class="apagee-page @ViewBag.BodyClass">

    <main id="main">
        @RenderBody()
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojione/4.5.0/lib/js/emojione.min.js" integrity="sha512-E2Ai/A9+KcoBm0lvfnd5krbr7TWUigQGWTfcoMToNpfmCvQKkZdTbpwyIM4PFbCGMtSmMjE/DAXGjVXpWGdFaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @RenderSection("scripts", false)

    @if (vm.SiteSettings?.ClaimProfileUrl is { Length: > 0 } && Uri.TryCreate(vm.SiteSettings.ClaimProfileUrl, UriKind.Absolute, out var meUri))
    {
        <a rel="me" href="@meUri" style="display:none!important;"></a>
    }
</body>
</html>