@model ArticleListViewModel

@{
    Layout = "Public/_PublicLayout";
    var article = Model.Articles.Single();
}

<div class="article">
    <article>
        <header>
            <h1 class="title">@article.Article.Title</h1>

            <div class="published">
                <time datetime="@(article.Article.PublishedOn?.ToString("s"))Z">@(article.Article.PublishedOn?.ToString("MMMM d, yyyy"))</time>
            </div>
        </header>
        
        <section class="content">
            @Html.Raw(article.BodyHtml)
        </div>
    </article>
</div>

<aside class="ata">
    <div class="ata-header">
        Author
    </div>
    
    @if (Model.SiteSettings?.AuthorAvatar is not null)
    {
        <img class="ata-avatar" alt="Profile picture for @(Model.AuthorDisplayName ?? Model.AuthorUsername)" src="/avatar.png" />
    }

    <div class="author">
        @if (Model.AuthorDisplayName is string { Length: > 0 } displayName)
        {
            <span class="display">@displayName</span>
        }
        <span class="username">@@@(Model.AuthorUsername)</span>
    </div>
    @if (Model.AuthorBio is string { Length: > 0 } bio)
    {
        <div class="bio">
            @bio
        </div>
    }
</aside>
