@model ArticleListViewModel

@{
    Layout = "Public/_PublicLayout";
    ViewBag.BodyClass = "article-list";
}

@section head
{
    <link rel="alternate" type="application/activity+json" href="https://@GlobalConfiguration.Current?.PublicHostname/api/users/@GlobalConfiguration.Current?.FediverseUsername">
    <link rel="alternate" type="application/jrd+json" href="https://@GlobalConfiguration.Current?.PublicHostname/.well-known/webfinger?resource=acct:@GlobalConfiguration.Current?.FediverseUsername@@@GlobalConfiguration.Current?.PublicHostname" />
}

<div class="articles">
    @if (!Model.Articles.Any())
    {
        <h2 class="empty-message">There are no published articles to view here at this time.</h2>
    }
    else
    {
        foreach (var article in Model.Articles)
        {
            <article>
                <header>
                    <a href="/@(article.Article.Slug)"><h1 class="title">@article.Article.Title</h1></a>

                    <div class="published">
                        <time datetime="@(article.Article.PublishedOn?.ToString("s"))Z">@(article.Article.PublishedOn?.ToString("MMMM d, yyyy"))</time>
                    </div>

                    <partial name="Public/Tags" model="article.Article" />
                </header>
                
                <section class="content">
                    @Html.Raw(article.Article.ArticleLocalSummary)
                </section>
            </article>
        }
    }
</div>

<partial name="Public/AtaSection" model="@(Model, "list")" />